<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthcare App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Healthcare App</h1>
        <form action="/check_symptoms" method="POST">
            <label for="symptoms">Enter Symptoms:</label>
            <input type="text" id="symptoms" name="symptoms" required>
            <button type="submit">Check Symptoms</button>
            <button type="submit">Check Symptomst</button>
        </form>


        <form action="/check_medication" method="POST">
            <label for="medication_name">Enter Medication Name:</label>
            <input type="text" id="medication_name" name="medication_name" required>
            <button type="submit">Get Medication Info</button>
        </form>

        <form action="/check_xray" method="POST" enctype="multipart/form-data">
            <label for="xray_image">Upload Chest X-ray Image:</label>
            <input type="file" id="xray_image" name="xray_image" accept="image/*" required>
            <button type="submit">Check X-ray</button>
        </form>

        <form action="/get_diet_recommendation" method="POST">
            <button type="submit">Get Diet Recommendation</button>
        </form>
    </div>
</body>
</html>
